<br><br>
        <div class="h1">
            About Me
        </div>
        <div class="fade">
            <div class="about_container">

            <%= image_tag("conrad.jpg", alt: "Conrad in front of Brisbane cityscape") %>

                <br><br>
                Hi, I'm Conrad.  At the start of 2020 I decided to start a new I.T career as a developer.  Coding has always interested me and I love to build apps and websites.  Although I have an I.T Diploma from 2003, it's been a while.
                <br><br>
                Some of my interests include:  Gaming, fitness (gym, bouldering, yoga), improv, stand-up comedy, latin dancing and VR.  I would love to work on apps or games with an enthusiastic, motivated team.
                <br><br>
                I am also hoping this career allows me to work remotely sometimes and to travel the world, as I love visiting new places and meeting new people.  I'm from Brisbane originally but I also have a U.S passport.
                <br><br>
            </div>
        </div>