<br><br>
        <div class="h1">
            Contact Me
        </div>
        <div class="fade">
            <div class="h2">
                Email: cclose27@gmail.com
            </div>

            <div class="contact_container">
                <div class="contact_method">
                    <a href="mailto:cclose27@gmail.com?subject=Portfolio_email">
                    <%= image_tag("outlookicon.png", alt: "Email", title: "Email") %>
                    </a>
                </div>
                <div class="contact_method">
                    <a href="https://www.linkedin.com/in/conrad-close-60464a1a3/" target="_blank">
                    <%= image_tag("linkedinicon.png", alt: "Linked In", title: "Linked In") %>
                    </a>
                </div>
                <div class="contact_method">
                    <a href="https://twitter.com/ConradC1984" target="_blank">
                    <%= image_tag("twittericon.png", alt: "Twitter", title: "Twitter") %>
                    </a>
                </div>
                <div class="contact_method">
                    <a href="https://github.com/Radicals27" target="_blank">
                    <%= image_tag("githubicon.png", alt: "Github", title: "Github") %>
                    </a>
                </div>
            </div>
        </div>